@font-face {
  font-display: swap;
  font-family: "Work Sans";
  src: url("../assets/fonts/WorkSans-VariableFont_wght.ttf");
}
:root {
  --attribution-blue: hsl(229, 45%, 41%);
  --pink: rgb(172, 40, 235);
  --dark-purple: hsl(292, 42%, 14%);
  --grayish-purple: hsl(292, 16%, 49%);
  --light-pink: hsl(276, 100%, 97%);
  --white: hsl(0, 0%, 100%) ;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  align-items: center;
  background-color: var(--light-pink);
  display: flex;
  flex-direction: column;
  font-family: "Work Sans", sans-serif;
  gap: 1.5rem;
  justify-content: center;
  min-height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.background__container {
  position: absolute;
  top: 0;
  z-index: -1;
}

.background__desktop {
  height: 20rem;
  object-fit: cover;
  object-position: bottom;
  position: absolute;
  top: 0;
  width: 100vw;
}
@media screen and (max-width: 991.98px) {
  .background__desktop {
    visibility: hidden;
  }
}

.background__mobile {
  height: clamp(14.5rem, 32.25vw, 20rem);
  object-fit: cover;
  object-position: bottom;
  width: 100vw;
}
@media screen and (min-width: 992px) {
  .background__mobile {
    visibility: hidden;
    opacity: 0;
  }
}

.card {
  background-color: var(--white);
  border-radius: clamp(7px, 1.05vw, 15px);
  width: clamp(17.5rem, 87.2vw, 37.5rem);
  padding: clamp(25px, 2.92vw, 42px);
}

.card__details {
  padding: 1.5rem 0;
}
.card__details summary {
  color: var(--dark-purple);
  cursor: pointer;
  font-weight: 600;
  font-size: clamp(1rem, 4.2vw, 1.125rem);
}
.card__details summary:first-of-type {
  list-style-type: none;
}
.card__details summary::-webkit-details-marker {
  display: none;
}
.card__details summary:hover, .card__details summary:focus {
  color: var(--pink);
}
.card__details p {
  color: var(--grayish-purple);
  font-size: clamp(0.875rem, 3.7vw, 1rem);
  padding-top: 1.5rem;
}
.card__details ~ .card__details {
  border-top: 1px solid var(--light-pink);
}
.card__details:first-of-type {
  padding-top: 0;
}
.card__details:last-of-type {
  padding-bottom: 0;
}

.card__heading {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  margin-bottom: clamp(1.063rem, 4.5vw, 1.563rem);
}
.card__heading img {
  width: clamp(1.312rem, 5.5vw, 2.187rem);
  height: clamp(1.312rem, 5.5vw, 2.186rem);
}
.card__heading span {
  color: var(--dark-purple);
  font-weight: 700;
  font-size: clamp(2rem, 8.5vw, 3.5rem);
}

.attribution {
  color: var(--dark-purple);
  font-size: clamp(0.688rem, 2.7vw, 0.875rem);
  text-align: center;
}
.attribution a {
  color: var(--attribution-blue);
}
.attribution a:hover, .attribution a:focus {
  color: var(--dark-purple);
}

/*# sourceMappingURL=compiled_style.css.map */
