.attribution { 
    color: var(--dark-purple);
    font-size: clamp(0.688rem, 2.7vw, 0.875rem);
    margin-bottom: 1rem;

    a {
        color: var(--chambray);

        &:hover, &:focus {
            color: var(--dark-purple);
        }
    }
}