.attribution { 
    color: var(--dark-purple);
    font-size: clamp(0.688rem, 2.7vw, 0.875rem);
    text-align: center;

    a {
        color: var(--attribution-blue);

        &:hover, &:focus {
            color: var(--dark-purple);
        }
    }
}