.background__container {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.background__desktop {
    @extend .background__image;
    height: 20rem;
}

.background__mobile {
    @extend .background__image;
    height: clamp(14.5rem, 32.25vw, 20rem);
}