.background__container {
    position: absolute;
    top: 0;
    z-index: -1;
}

.background__desktop {
    height: 20rem;
    object-fit: cover;
    object-position: bottom;
    width: 100vw;

    @media screen and (max-width: 991.98px) {
        display: none;
    }
}

.background__mobile {
    height: clamp(14.5rem, 32.25vw, 20rem);
    object-fit: cover;
    object-position: bottom;
    width: 100vw;

    @media screen and (min-width: 992px) {
        display: none;
        opacity: 0;
    }
}