.details {
    padding: clamp(1.25rem, 5vw, 1.5rem) 0;

    summary {
        align-items: center;
        color: var(--dark-purple);
        cursor: pointer;
        display: flex;
        font: 600 clamp(1rem, 4.2vw, 1.125rem)/1.2 $font-stack;
        justify-content: space-between;
        list-style-type: none;

        &::-webkit-details-marker {
            display: none;
        }

        &:hover, &:focus {
            color: var(--pink);
        }

        img {
            height: 1.938rem;
            margin-left: 1rem;
            width: 1.875rem;
        }

        .summary__icon_minus {
            display: none;
        }
    }

    &[open] {
        summary {
            .summary__icon_minus {
                display: inline-block;
            }
    
            .summary__icon_plus {
                display: none;
            }
        }
    }

    p {
        color: var(--grayish-purple);
        font-size: clamp(0.875rem, 3.7vw, 1rem);
        margin-top: 1.5rem;
    }

    &:first-of-type {
        padding-top: 0;
    }

    ~ .details {
        border-top: 1px solid var(--light-pink);
    }

    &:last-of-type {
        padding-bottom: 0;
    }
}