*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    align-items: center;
    background-color: var(--light-pink);
    display: flex;
    flex-direction: column;
    font-family: $font-stack;
    gap: 1.5rem;
    justify-content: center;
    min-height: 100%;

    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}