// Variables for font and colors
$font-stack: 'Work Sans', sans-serif;

:root {
    --attribution-blue: hsl(229, 45%, 41%);
    --pink: rgb(172, 40, 235);
    --dark-purple: hsl(292, 42%, 14%);
    --grayish-purple: hsl(292, 16%, 49%);
    --light-pink: hsl(276, 100%, 97%);
    --white: hsl(0, 0%, 100%)
}