@font-face {
    font-display: swap;
    font-family: 'Work Sans';
    src: url('../assets/fonts/WorkSans-VariableFont_wght.ttf');
}

// Import SCSS partials
@import 'variables';
@import 'reset';
@import 'screen-reader-only';
@import 'card';
@import 'details';
@import 'attribution';